<div class="alert alert-info" style="background-color: <%= color %>">
    <button type="button" aria-hidden="true" class="close view motion"  rel="tooltip" data-placement="bottom" title="" data-original-title="Play Motion">
        <i class="material-icons">play_arrow</i>
    </button>
    <button type="button" aria-hidden="true" class="close stop motion" style="display:none" rel="tooltip" data-placement="bottom" title="" data-original-title="Clear Motion">
        <i class="material-icons">close</i> 
    </button>
    <h4><%= name %></h4>
    
</div>