<div class="col-md-12">
    <div class="card">
        <div class="card-content">
            <div>
                <div class="row">
                    <div class="tim-typo">

                        <span class="tim-note">Name</span>
                        <span class="text-muted">
                            <%= name %>
                        </span>

                    </div>
                    <div class="tim-typo">

                        <span class="tim-note">Address:</span>
                        <span class="text-muted">
                            <%= address %>
                        </span>

                    </div>
                   
                    <div class="tim-typo">

                        <span class="tim-note">description:</span>

                        <span class="text-muted">
                            <%= description %>
                        </span>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Time:</span>

                        <span class="text-muted">
                            <%= time %>
                        </span>
                    </div>
                    <div class="tim-typo">
                        <span class="tim-note">Course:</span>

                        <span class="text-muted">
                            <%= course %>
                        </span>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>