<div class="wrapper">

    <nav class="navbar navbar-fixed-top navbar-color-on-scroll">
        <div class="" style="width:90%;margin-left: 30px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="//io-technologies.net">
                    <div class="logo-container">
                        <div class="logo">
                            <img src="backend/img/logo.png" alt="Sycliff" rel="tooltip" title="" data-placement="bottom" data-html="true" >
                        </div>


                    </div>
                </a>
            </div>


        </div>
    </nav>
    <!-- topbar ends -->
    <div class="main-panel">

        <div class="content" style="height: 100% !important" id="main-panel-container">
            <!-- every page goes here -->

        </div>
        <div style="margin-left:45%; margin-top:2px;display:none" id="loader-placeholder">
            <div class='uil-ripple-css' style='-webkit-transform:scale(0.92)'>
                <div></div>
                <div></div>
            </div>
        </div>

    </div>
</div>