@(message: String)
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Map</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Andromeda, youtube for the physical world">
        <meta name="author" content="James Akinniranye">

        <!-- Pace Progrees Bar -->
        <script type="text/javascript" src="/backend/js/plugins/pace/pace.min.js"></script>

        <link id="pace-css" href="/backend/js/plugins/pace/loading_bar.css" rel="stylesheet">



        <!-- The styles -->
        <link id="bs-css" href="/backend/css/bootstrap.min.css" rel="stylesheet">

        <link href="/backend/css/material.css" rel="stylesheet">


        <!-- <link id="bs-css" href="/backend/css/bootstrap-cerulean.min.css" rel="stylesheet">
            <link href="/backend/js/plugins/jquery-wizard/jquery.wizard.min.css" rel="stylesheet">
            <link href="/backend/css/charisma-app.css" rel="stylesheet"> -->

        <!-- <link  href="/backend/css/buttons.css" rel='stylesheet'> -->

        <link href="/backend/css/custom.css" rel='stylesheet'>

        <!--     Fonts and icons     -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
              />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"
              />

        <!-- http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/ -->
        <!-- <link href="backend/js/plugins/jquery-ui/jquery.ui.1.10.3.ie.css" rel="stylesheet">
    
            <link href="backend/js/plugins/jquery-ui/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    
            <link href="backend/js/plugins/jquery-ui/jquery-ui-1.10.3.theme.css" rel="stylesheet"> -->

        <style id="general-style">
        </style>
        <style>
            /* Always set the map height explicitly to define the size of the div
                 * element that contains the map. */

            .map_container {
                position: relative;
                top:0 ;
                left: 0;
                height: 100%;
                width: 100%;
            }
            #map {
                position: relative;
                height: 100%;
                width: 100%;
                outline: none;
                touch-action: none;
                background-color: #eee;
                position: relative;
            }

            /* Optional: Makes the sample page fill the window. */

            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

        </style>



        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        <!-- The fav icon -->
        <link rel="shortcut icon" href="/backend/img/logo20.png">
        <script type="text/javascript">
            var application_server_url = "@message";
        </script>
    </head>

    <body>
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDgE8LWp7fviIw85N3zqYrtF7pViF08OS4" async defer></script>
        <!-- lazy loaded -->
        <img style="display: none" src="/backend/img/messenger-video-800.png"></img>
        <link rel="stylesheet" href="//releases.flowplayer.org/7.2.1/skin/skin.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
              crossorigin="" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@@1.1.0/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@@1.1.0/dist/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css" />
        <link href="https://unpkg.com/uppy@@0.21.0/dist/uppy.min.css" rel="stylesheet">

        <noscript>
        <div class="alert alert-block col-md-12">
            <h4 class="alert-heading">Warning!</h4>

            <p>You need to have
                <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
        </div>
        </noscript>

        <div id="body">

            <div style="margin-left:45%; margin-top:10px">
                <div class='uil-ripple-css' style='-webkit-transform:scale(0.92)'>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <script>
            Pace.options = {
                ajax: {
                    trackMethods: ['GET', 'POST', 'DELETE', 'PUT'],
                    // ignoreURLs: ['*.pubnub.com', /pubnub/]
                }


            };

        </script>

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
        <script type="text/javascript" src="/backend/js/require/require.js" data-main="/backend/js/mainapp.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112316573-1"></script>

    </body>

</html>